<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-title>Alunos</ion-card-title>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Aluno: Davyd Almeida</ion-card-subtitle>
      <img class="eu" src="/assets/home.jpeg" />

      <div class="redes">
        <a href="https://www.instagram.com/davyd_al/">
          <ion-icon name="logo-instagram"></ion-icon>
        </a>
        <a href="https://www.linkedin.com/in/davyddealmeidasantosti/">
          <ion-icon name="logo-linkedin"></ion-icon>
        </a>
        <a href="https://www.facebook.com/Almeidadavyd">
          <ion-icon name="logo-facebook"></ion-icon>
        </a>
        <a href="https://github.com/DavydAl">
          <ion-icon name="logo-github"></ion-icon>
        </a>
      </div>
    </ion-card-header>
  </ion-card>

</ion-content>